.writing-page {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Make full viewport height */
    overflow: hidden;
}
.writing-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.writing-title {
    font-size: 2rem;
    font-weight: bold;
}

.back-button {
    background-color: #eee;
    color: #f58feb;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.back-button:hover {
    background-color: #ddd;
}

.tags-container {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    overflow-x: auto;
    white-space: nowrap;
}

.content-wrapper {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.essay-list {
    width: 25%;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    padding: 1rem;
}

.essay-content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
}

.essay-content h2 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(28, 24, 25);
}

.tag-button {
    margin-right: 8px;
    padding: 8px 12px;
    border-radius: 20px;
    background-color: #eaa6e3d2;
    color: white;
    border: none;
    cursor: pointer;
  }

.tag-button.active {
background-color: #e18ee0;
font-weight: bold;
}